# Tinotenda Mangarai Assignment week 6

In [1]:
# Loading PAckages
import pandas as pd
from sqlalchemy import create_engine

# creating the ETL pipeline, calculating total sales amount for each product

In [10]:
def extract_data(file_path):
    """Extract data from the given CSV file."""
    df = pd.read_csv(file_path)
    return df

def transform_data(df):
    """calculating total sales amount for each product."""
    transformed_df = df.groupby('product_id')['total_price'].sum().reset_index()
    transformed_df.columns = ['product_id', 'total_sales_amount']
    return transformed_df

def load_data(transformed_df, database_uri, table_name):
    """Loading the transformed df into a database."""
    engine = create_engine(database_uri)
    transformed_df.to_sql(table_name, con=engine, if_exists='replace', index=False)

def view_data(database_uri, table_name):
    """Viewing data from the database table"""
    engine = create_engine(database_uri)
    with engine.connect() as connection:
        result = pd.read_sql_table(table_name, con=connection)
        print(result)

def run_etl_pipeline(file_path, database_uri, table_name):
    """Running the ETL pipeline"""
    # Extract
    df = extract_data(file_path)
    
    # Transform
    transformed_df = transform_data(df)
    
    # Load
    load_data(transformed_df, database_uri, table_name)
    
    # View data
    view_data(database_uri, table_name)
    
    print(f"ETL DONE!. Data loaded into the '{table_name}' table in the '{database_uri}' database.")

# testing the ETL pipeline

In [12]:
if __name__ == "__main__":
    file_path = r"C:\Users\Tinotenda Mangarai\Documents\Data Science\Omdena Advanced Data Science\retail_price.csv"
    database_uri = r"sqlite:///C:\Users\Tinotenda Mangarai\Documents\Data Science\Omdena Advanced Data Science\sales_data.db"
    table_name = 'sales_summary'
    run_etl_pipeline(file_path, database_uri, table_name)

    product_id  total_sales_amount
0         bed1             5831.77
1         bed2            42938.66
2         bed3            10304.96
3         bed4             6011.77
4         bed5            29997.36
5   computers1            12306.81
6   computers2            15439.25
7   computers3            15111.82
8   computers4            46916.51
9   computers5            11240.96
10  computers6            41082.60
11   consoles1             3416.70
12   consoles2             2384.00
13       cool1            11868.42
14       cool2            15159.81
15       cool3             3656.50
16       cool4            17643.92
17       cool5             9627.65
18  furniture1             6162.11
19  furniture2            37608.90
20  furniture3             3507.95
21  furniture4             9646.20
22     garden1            14869.03
23    garden10            21390.69
24     garden2             7333.70
25     garden3            14492.14
26     garden4            21056.80
27     garden5            10759.30
28     garden6            26577.22
29     garden7             6220.90
30     garden8            20495.56
31     garden9            20387.20
32     health1            10368.78
33    health10             7757.91
34     health2            63885.00
35     health3            18889.44
36     health4             4096.30
37     health5            54730.20
38     health6             9862.50
39     health7            13866.69
40     health8            22627.23
41     health9             6325.19
42  perfumery1             7675.62
43  perfumery2            12636.90
44    watches1            31786.82
45    watches2            20593.22
46    watches3            12475.00
47    watches4            23943.00
48    watches5            30467.50
49    watches6            37683.42
50    watches7            31623.81
51    watches8            19009.40
ETL DONE!. Data loaded into the 'sales_summary' table in the 'sqlite:///C:\Users\Tinotenda Mangarai\Documents\Data Science\Omdena Advanced Data Science\sales_data.db' database.